@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Kunder";
}

<h1>List av alla kunder</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Adress</th>
            <th>Postnummer & Ort</th>
            <th>Land</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Användarnam</th>
            @*<th>Role</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            @if (customer.Role == "Customer")
            {
                <tr>
                    @*<td>@customer.Id</td>*@
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.StreetAddress</td>
                    <td>@customer.Zipcode @customer.City</td>
                    <td>@customer.Country</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Email</td>
                    <td>@customer.UserName</td>
                    @*<td>@customer.Role</td>*@
                    <th>
                        <a class="btn-sm btn-danger" asp-controller="Customers" asp-action="EditCustomer" asp-route-id="@customer.Id">Edit</a>
                        <a class="btn-sm btn-danger" asp-controller="Customers" asp-action="DeleteCustomer" asp-route-id="@customer.Id">Delete</a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>