@model ScrumWebShop.Data.Product

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ProductNumber" class="control-label"></label>
                    <input asp-for="ProductNumber" class="form-control" />
                    <span asp-validation-for="ProductNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductPrice" class="control-label"></label>
                    <input asp-for="ProductPrice" class="form-control" />
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDescription" class="control-label"></label>
                    <input asp-for="ProductDescription" class="form-control" />
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <select asp-for="Brand" class="form-control">
                        @foreach (var brand in ViewBag.Brands)
                        {
                            <option value="@brand">@brand</option>
                        }
                    </select>
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sex" class="control-label"></label>
                    <select asp-for="Sex" class="form-control">
                        @foreach (var sex in ViewBag.Sex)
                        {
                            <option value="@sex">@sex</option>
                        }
                    </select>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <select asp-for="Color" class="form-control">
                        @foreach (var col in ViewBag.Colors)
                        {
                            <option value="@col">@col</option>
                        }
                    </select>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    </div>