@model IEnumerable<ScrumWebShop.Data.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
@if (SignInManager.IsSignedIn(User))
{

    @if (User.IsInRole("Administrator"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

        <div class="searchBar">
            <form method="get" class="container">
                <p class="mx-3 text-white">Sök på namn eller nyckelord: </p>
                <div class="input-group mb-4">
                    <input type="text" name="SearchString" class="form-control m-2" placeholder="">
                    <div class="input-group-append">
                        <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                                id="button-addon2" value="Search">
                            Sök
                        </button>
                        <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                                id="button-addon2" value="Search" href="SearchByKeyword">
                            Visa alla produkter
                        </button>
                    </div>
                </div>
            </form>
        </div>



        <!-- LIST AV ALLA PRODUKTER  -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    if (User.IsInRole("StandardUser"))
    {


        <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

        <div class="searchBar">
            <form method="get" class="container">
                <p class="mx-3 text-white">Sök på namn eller nyckelord: </p>
                <div class="input-group mb-4">
                    <input type="text" name="SearchString" class="form-control m-2" placeholder="">
                    <div class="input-group-append">
                        <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                                id="button-addon2" value="Search">
                            Sök
                        </button>
                        <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                                id="button-addon2" value="Search" href="SearchByKeyword">
                            Visa alla produkter
                        </button>
                    </div>
                </div>
            </form>
        </div>



        <!-- LIST AV ALLA PRODUKTER  -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photo)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    }
}
else
{
    <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

    <div class="searchBar">
        <form method="get" class="container">
            <p class="mx-3 text-white">Sök på namn eller nyckelord: </p>
            <div class="input-group mb-4">
                <input type="text" name="SearchString" class="form-control m-2" placeholder="">
                <div class="input-group-append">
                    <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                            id="button-addon2" value="Search">
                        Sök
                    </button>
                    <button class="btn btn-md  waves-effect bg-white m-t" type="submit"
                            id="button-addon2" value="Search" href="SearchByKeyword">
                        Visa alla produkter
                    </button>
                </div>
            </div>
        </form>
    </div>



    <!-- LIST AV ALLA PRODUKTER  -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
