@model IEnumerable<ScrumWebShop.Data.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
@if (SignInManager.IsSignedIn(User))
{

    @if (User.IsInRole("Administrator"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

<div class="searchBar">
    <form form method="get" class="container">
        <div class="form-row">
            <div class="col-2">
                <select name="ProductBrand" class="form-control">
                    <option value="">Brand:</option>
                    @foreach (var pb in ViewBag.Brands)
                    {
                        <option value="@pb">@pb</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductSex" class="form-control">
                    <option value="">Kön:</option>
                    @foreach (var ps in @ViewBag.Sexes)
                    {
                        <option value="@ps">@ps</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductColor" class="form-control">
                    <option value="">Färg:</option>
                    @foreach (var pc in @ViewBag.Colors)
                    {
                        <option value="@pc"> @pc</option>
                    }
                </select>
            </div>

            <div class="col-3">
                <input type="text" name="SearchString" class="form-control">
            </div>
            <div class="col-1">
                <div class="input-group-append">
                    <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                            id="button-addon2" value="Search">
                        Sök
                    </button>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                        id="button-addon2" value="Search" href="Index">
                    Visa alla
                </button>
            </div>
        </div>
    </form>
</div>



        <!-- LIST AV ALLA PRODUKTER  -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    if (User.IsInRole("StandardUser"))
    {


        <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

<div class="searchBar">
    <form form method="get" class="container">
        <div class="form-row">
            <div class="col-2">
                <select name="ProductBrand" class="form-control">
                    <option value="">Brand:</option>
                    @foreach (var pb in ViewBag.Brands)
                    {
                        <option value="@pb">@pb</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductSex" class="form-control">
                    <option value="">Kön:</option>
                    @foreach (var ps in @ViewBag.Sexes)
                    {
                        <option value="@ps">@ps</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductColor" class="form-control">
                    <option value="">Färg:</option>
                    @foreach (var pc in @ViewBag.Colors)
                    {
                        <option value="@pc"> @pc</option>
                    }
                </select>
            </div>

            <div class="col-3">
                <input type="text" name="SearchString" class="form-control">
            </div>
            <div class="col-1">
                <div class="input-group-append">
                    <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                            id="button-addon2" value="Search">
                        Sök
                    </button>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                        id="button-addon2" value="Search" href="Index">
                    Visa alla
                </button>
            </div>
        </div>
    </form>
</div>



        <!-- LIST AV ALLA PRODUKTER  -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photo)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    }
}
else
{
    <!-- SEARCH BAR: Sök på namn/nyckelord i ProductName & ProductDescription -->

<div class="searchBar">
    <form form method="get" class="container">
        <div class="form-row">
            <div class="col-2">
                <select name="ProductBrand" class="form-control">
                    <option value="">Brand:</option>
                    @foreach (var pb in ViewBag.Brands)
                    {
                        <option value="@pb">@pb</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductSex" class="form-control">
                    <option value="">Kön:</option>
                    @foreach (var ps in @ViewBag.Sexes)
                    {
                        <option value="@ps">@ps</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="ProductColor" class="form-control">
                    <option value="">Färg:</option>
                    @foreach (var pc in @ViewBag.Colors)
                    {
                        <option value="@pc"> @pc</option>
                    }
                </select>
            </div>

            <div class="col-3">
                <input type="text" name="SearchString" class="form-control">
            </div>
            <div class="col-1">
                <div class="input-group-append">
                    <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                            id="button-addon2" value="Search">
                        Sök
                    </button>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-md  waves-effect bg-white m-t border-dark" type="submit"
                        id="button-addon2" value="Search" href="Index">
                    Visa alla
                </button>
            </div>
        </div>
    </form>
</div>



    <!-- LIST AV ALLA PRODUKTER  -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
