@model ScrumWebShop.Data.Product

@{
    ViewData["Title"] = "ProductPage";
}



<div class="container mt-5">


    <!--Section: Content-->
    <section class="mb-5">


        <div class="row  d-flex" style=" height: 500px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">

            <div class="col-lg-6" style=" height: 100%; ">
                <div class="container" style=" height: 100%; ">

                    <img src="~/@Html.DisplayFor(model => model.Photo)" alt="First slide" class="img-fluid" style="width: 100%;">

                </div>
            </div>

            <div class="col-lg-6" style=" height: 100%;  position: relative;">
                <div class="container" style=" height: 100%; ">
                    <h5 class="text-center font-weight-bold mt-5">  @Html.DisplayFor(model => model.Brand)</h5>
                    <h4 class="text-center font-weight-bold mt-1">@Html.DisplayFor(model => model.ProductName)</h4>
                    <h6 class=" font-weight-bold ml-3 mb-1 mt-3">
                        @Html.DisplayFor(model => model.ProductPrice) kr
                    </h6>
                    <p class="text-muted font-weight-light ml-3 mb-2">
                        @Html.DisplayFor(model => model.Sex)
                    </p>
                    <p class="text-muted font-weight-light ml-3 mb-2">
                        @Html.DisplayFor(model => model.Color)
                    </p>
                    <p class="text-muted font-weight-light ml-3 mb-5">
                        @Html.DisplayFor(model => model.ProductDescription)
                    </p>
                </div>
                <div class="d-flex" style=" margin: 0 auto 0 auto; width: 100%; position: absolute; bottom: 5%;">
                    <div style="margin: auto;">
                        <button type="button" class="btn btn-primary mx-0" style="width: 200px; background-color: black !important">Handla</button>
                    </div>


                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->

</div>
